.App {
  text-align: center;
}

.counter {
  &__value {
    border: 1px solid black;
    margin: 40px;
  }

  &__btnBox{
    display: flex;
    align-content: center;
    justify-content: space-around;
  }

  &__btn {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 20%;
    max-width: 460px;
    position: relative;

    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  &__btn:focus {
    outline: 0;
  }

  &__btn:after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  &__btn:hover:after {
    bottom: 2px;
    left: 2px;
  }

  @media (min-width: 768px) {
    &__btn {
      padding: 0.75rem 3rem;
      font-size: 1.25rem;
    }
  }
}
